<app-header *ngIf="selectedGroup" [title]="selectedGroup.nom"></app-header>

<div class="container-group">
  <div fxFlex="60" fxLayoutAlign="center center">
    <mat-table *ngIf="selectedGroup" [dataSource]="selectedGroup.pays" style="max-width: 800px;">
      <!-- Colonne pour le nom du pays -->
      <ng-container matColumnDef="pays">
        <mat-header-cell *matHeaderCellDef>Nom du pays</mat-header-cell>
        <mat-cell *matCellDef="let pays">{{ pays.nom }}</mat-cell>
      </ng-container>

      <!-- Colonne pour les liens vers la liste de joueurs -->
      <ng-container matColumnDef="joueurs">
        <mat-header-cell *matHeaderCellDef>Joueurs</mat-header-cell>
        <mat-cell *matCellDef="let pays">
          <a [routerLink]="['/liste-de-pays', pays.nom]">Voir les joueurs</a>
        </mat-cell>
      </ng-container>

      <!-- Définition des colonnes -->
      <mat-header-row *matHeaderRowDef="['pays', 'joueurs']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['pays', 'joueurs'];"></mat-row>
    </mat-table>
  </div>
</div>
