.form-login {
  background-color: rgba(128, 128, 128, 0.657);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px; 
  padding: 16px; 
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px; 
}


.form-content button {
  margin-top: 16px;
}
:host {
  background-image:url('../../assets/img/927090.jpg');
  background-size: cover; 
background-position: center; /* Pour centrer l'image */

height: 100vh; /* Pour que le composant occupe toute la hauteur de l'écran */
display: flex; /* Pour centrer le contenu verticalement */
justify-content: center; /* Pour centrer le contenu horizontalement */
align-items: center; /* Pour centrer le contenu verticalement */
}