.form-login {
  display:flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.295);
  height:250px;
  margin-bottom: 200px;
  border-radius: 50px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.form-login input {
  margin: 5px 0;
  text-align: center;
}

input, button {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
  border: dashed 1px;
}
