<div class="container">
<div *ngFor="let article of articles" class="article" fxLayout.lt-sm="column" fxLayout.gt-sm="row">
  <mat-card class="test">
    <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutGap="10px" >
      <img src="{{ article.image }}" alt="Image de l'article" style="max-width: 30%; max-height: 60%; object-fit: contain;">
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Auteur : {{ article.author }}</p>
          <p>{{ article.content }}</p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
</div>
