<h1 class="centered-title">Affectation d'un pays à un groupe</h1>
  
<form [formGroup]="snapForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field class="form-group">
        <mat-label>Selectionner un pays</mat-label>
        <mat-select>
          <mat-option value="one">France</mat-option>
          <mat-option value="two">Italie</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label>Selectionner un groupe</mat-label>
        <mat-select>
          <mat-option value="one">Groupe A</mat-option>
          <mat-option value="two">Groupe B</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Insérer code drapeau</mat-label>
        <input matInput>
      </mat-form-field>


      
  
    <div class="action-buttons">
      <button mat-raised-button type="submit" (click)="onSubmitForm()">Enregistrer</button>
    </div>
  </form>