<h1 class="centered-title">Ajout d'un joueur</h1>

<form [formGroup]="snapForm" (ngSubmit)="onSubmitForm()">
  <mat-form-field class="form-group">
    <mat-label>Nom du joueur</mat-label>
    <input matInput formControlName="nom">
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Prénom du joueur</mat-label>
    <input matInput formControlName="prenom">
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Sélectionner un pays</mat-label>
    <mat-select formControlName="pays">
      <mat-option *ngFor="let team of teams" [value]="team.name">{{ team.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Poste</mat-label>
    <input matInput formControlName="poste">
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Championnat</mat-label>
    <input matInput formControlName="championnat">
  </mat-form-field>

  <div class="action-buttons">
    <button mat-raised-button type="submit">Enregistrer</button>
  </div>
</form>
